OPERATOR_PORT_EXTERNAL=port
URL_SERVER_PROOF=http://server-proof:10001
LOG_LEVEL=debug
OPERATOR_MODE=archive
GAS_MULTIPLIER=1
GAS_LIMIT=default
PASSWORD=password
EXPOSE_API_SERVER=true
LAN=true
ONLY_SYNCH=false
CLEAR_DB=false
